body {
    background: #f1f1f1;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.success,
.error {
    text-align: center;
    color: #fff;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

h1 {
    text-align: center;
}

label {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

input {
    display: block;
    padding: 20px;
    width: 40%;
    min-width: 350px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.inputs {
    margin: 40px;
}

button {
    display: block;
    text-align: center;
    margin: 0 auto 50px;
    background: #040466;
    color: white;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 20px;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    background: red;
}
table {
    width: 100%;
}

th {
    width: 33%;
}

td {
    text-align: center;
}